@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.main{
    /* background-color: blueviolet; */
    min-height: 100vh;
}

.mainSection{
    height: 100vh;
    position: relative;
}
.buttonExplore{
position: absolute;
bottom: 50px;
left: 50%;
z-index: 10;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background: transparent;
border: none;
color: #fffFFF;
font-size: 20px;
font-weight: bolder;
letter-spacing: 2px;
gap: 10px;
mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .2) 30%, #000 50%, rgba(0, 0, 0, .2) 70%);
mask-size: 200%;
animation: shine 2.5s infinite reverse;
transition: .3s;
}
@keyframes shine {
from {
    mask-position: 0%;
}
to {
    mask-position: 110%;
}
}
@-webkit-keyframes shine {
from {
    -webkit-mask-position: 0%;
}
to {
    -webkit-mask-position: 110%;
}
}
.buttonExplore:hover{
    mask: none;
}
.buttonExplore:focus{
    border: none;
    outline: none;
}
.buttonExploreImg{
    width: 40px;
    height: 40px;
}
.buttonExplore span{
    display: inline-block;
}


.videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* section presentation */
  .prezSection{
    padding: 20px;
    background-color: #F6EEE3;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .prezText, .containerPrezImg {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prezText{
    flex-direction: column;
  }
  .prezImg{
    width: 80%;
    /* padding: 50px; */
    /* padding-right: 25%; */
    object-fit: contain;
  }
  .prezContent{
    letter-spacing: 0.02em;
    display: inline-block;
  }

 .prezSection button{
    font-family: 'Oswald', serif;
    font-size: 22px;
    letter-spacing: 2px;
 }

    /* Section Accordeon */

    .containerAccordeonSection{
        width: 50%;
        height: auto;
        padding: 20px;
        padding-top: 50px;
        min-height: 800px;
        display: flex;
        justify-content: flex-start;
        text-align: center;
       gap: 50px;
        flex-direction: column;
        
    }
    .containerAccordeonSectionImg{
        width: 50%;
        height: 100%;
        min-height: 800px;
        background-image: url('../../public/assets/img/section-accordeon-img.jpeg');
        background-size: cover;
        background-position: center;
    }
    .accordeon{
        padding-top: 50px;
        min-height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    /* .accordeon .close {
        display: none;
      }
      .accordeon .open {
        display: block;
        background: #f6f6f6;
      } */
      .accordeon li {
        text-decoration: none;
        list-style: none;
        margin-bottom: 55px;
      }
      .accordeon h2 {
        background: #0e182d;
        border-radius: 5px;
        height: 47px;
        display: flex;
        margin-bottom: 31px;
        align-items: center;
        position: relative;
        width: 90%;
        color: #fff;
        position: relative;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        padding-left: 18px;
        margin: auto;
      }
      .accordeon h2 span {
        position: absolute;
        right: 15px;
        width: 25px;
        height: 25px;
        background: url("../../public/assets/icones/Vector.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      /* .accordeon li .open {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: #ff6060;
        padding-left: 20px;
        width: 90%;
        text-align: left;
        margin: auto;
        padding-top: 27px;
        padding-bottom: 35px;
        border-radius: 0 0 10px 10px;
      } */

      /* Section gallery  */
      .gallerySection {
        padding: 20px;
        background-color: #F6EEE3;

      }
      .gallerySection button{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        font-family: 'Oswald', serif;
        font-size: 22px;
        letter-spacing: 2px;
      }
      
      /* Section Contact  */
      .contactSection{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 100%;
      }
      .contactSection button{
        border-radius: 4px;
        border:  2px solid #0e182d;
        color: #0e182dee;
        font-family: 'Oswald', serif;
        font-size: 22px;
        letter-spacing: 2px;
    }
      .contactSection button:hover {
        background-color: #0e182d;
      }
      .contactSection button::before:hover{
        color: #0e182d;
        background: #0e182d;
      }